* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1ecbf4;
  color: white;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo {
  display: flex;
  width: 40%;
  /* justify-content: center; */
  padding-left: 120px;
}

.header-part {
  display: flex;
  width: 60%;
  justify-content: space-between;
  font-size: x-small;
  padding-right: 100px;
}

.title {
  color: white;
  background-color: #1ecbf4;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 60px;
  padding-top: 20px;
  margin-top: 70px;
}

.title-title {
  margin-bottom: 10px;
}

.title-input {
  margin-top: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 0;
  text-align: center;
  width: 500px;
}

.title-button {
  margin-top: 30px;
  background-color: red;
  color: white;
  border-radius: 5px;
  border-color: red;
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 0;
}


.introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
}

.introduction-content {
  width: 50%;
  font-size: larger;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}

.introduction-header {
  margin-top: 50px;
  margin-bottom: 25px;
}

.introduction-sub {
  font-size: smaller;
  margin: 20px 0;
}

.introduction-button {
  padding: 8px 16px;
  color: white;
  background-color: violet;
  border-radius: 5px;
  border-color: violet;
  width: 200px;
  margin-bottom: 70px;
}

.introduction-img {
  height: 300px;
  width: 300px;
  margin-right: 200px;
  margin-top: 50px;
}


.value{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
}

.value-img{
  width: 325px;
  height: 203px;
  margin-top: 100px;
  margin-left: 200px; 
}

.value-content{
  margin-right: 120px;
  width: 55%;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.value-heading{
  margin-top: 50px;
  margin-bottom: 25px;
}

.value-sub{
  font-size: smaller;
  margin: 20px 0;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
}

.service-heading {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 250px;
  font-size: medium;
}

.service-content {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-setting {
  margin: 30px 0;
}

.project{
  margin-bottom: 50px;
  padding-top: 40px;
}

.project-heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0px;
}

.project-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 50px;
}

.project-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.pricing-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.pricing-content {
  margin: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
}

.pricing-table {
  width: 400px;
}

.pricing-table-heading {
  display: flex;
  flex-direction: column;
  background-color: #1ecbf4;
  color: white;
  justify-content: center;
  border-color: #1ecbf4;
  text-align: center;
  height: 90px;
}

.pricing-table-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 400px;
  padding: 60px 30px;
  border: 1px solid #1ecbf4;
}

.pricing-table-conclusion {
  height: 200px;
  border: 1px solid #1ecbf4;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.pricing-table-button {
  background-color: #1ecbf4;
  width: 95px;
  height: 45px;
  border-radius: 4px;
  margin-top: 20px;
  color: white;
  font-size: larger;
  padding: 5px 10px;
  border-color: #1ecbf4;
}

.pricing{
  padding-top: 30px;
}

.feedback{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-heading{
  font-weight: 300;
  margin-top: 200px;
}

.feedback-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 300px;
  width: 80%;
  background-color: rgb(232, 229, 229);

  justify-content: center;
  
}

.feedback-leftarrow{
  position: absolute;
  left: 200px;
  top: 2680px;
  width: 100px;
  font-weight: 900;
}

.feedback-rightarrow{
  position: absolute;
  right: 120px;
  top: 2680px;
  width: 100px;
  font-weight: 900;
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  background-color: rgb(245, 239, 239);
  
}

.contact-heading{
  margin-bottom: 20px;
  margin-top: 50px;
}

.contact-addinfor{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.contact-infor{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-address{
  width: 40%;
}

.contact-notes{
  width: 700px;
  height: 100px;
  padding-left: 20px;
}

.contact-email{
  width: 340px;
  height: 30px;
  padding-left: 10px;
}

.contact-name{
  width: 340px;
  height: 30px;
  padding-left: 10px;
}

.contact-nameemail{
  display: flex;
  width: 700px;
  justify-content: space-between;
  margin-bottom: 20px;
}


.contact-button{
  width: 100px;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 50px;
}


.sizeIcon{
  font-size: 50px;
  color: #1ecbf4;
  margin-bottom: 20px;
}

.sizeLogo{
  font-size: 200px;
  color: #1ecbf4  ;
}

.header-part-hover{
  height: 70px; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  width: 150px;
  font-weight: 700;
  font-size: 20px;
  color: white;
  background-color: #1ecbf4;
}

.header-part-hover:hover {
  color: #1ecbf4  ;
  background-color: white;
}


.header-lst{
  display: flex;
  justify-content: space-between;

}
